@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Demo project created by Simon Chettleburgh for RedWeb.  This was created using Visual Studio Community Edition 2015 and SQL Server Express 2012</p>
