@{
    ViewBag.Title = "BikeStore - Home";
}

<div class="jumbotron">
    <h4>BikeStore Demo Application</h4>
</div>

<div class="row">
    <div>
        @Html.ActionLink("List of Bike Products", "Index", "product")<br />
    </div> 
</div>
