@model BikeStoreMVC.Models.tbl_model

@{
    ViewBag.Title = "Details Model";
}

<h2>Details Model</h2>

<div>
    <h4>Model</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.model)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.modID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
